<form (ngSubmit)="onSubmit()" #employeeForm="ngForm">
    <div>
      <label for="regularSalary">Salario Regular:</label>
      <input type="number" id="regularSalary" required [(ngModel)]="employee.regularSalary" name="regularSalary">
    </div>
  
    <div>
      <label for="overtimeSalary">Salario por Horas Extras:</label>
      <input type="number" id="overtimeSalary" required [(ngModel)]="employee.overtimeSalary" name="overtimeSalary">
    </div>
  
    <button type="submit" [disabled]="!employeeForm.form.valid">Calcular Salario</button>
  </form>
  
  <div *ngIf="salary">
    <p>Salario Regular: {{ salary.regularSalary }}</p>
    <p>Salario por Horas Extras: {{ salary.overtimeSalary }}</p>
    <p>Deducciones: {{ salary.deductions }}</p>
    <p>Salario Neto: {{ salary.netSalary }}</p>
  </div>
  